.single_course-item{
    padding: 15px;
}
.course_img img{
    border-radius: 10px;
    margin-bottom: 20px;
}
.text{
    font-size: 12px;
    color: #596b65;
}
.enroll a{
    text-decoration: none;
    font-weight: 600;
    font-size: 0.9rem;
    color:'#17bf9e';
}
.lesson, .students, .rating{
    font-size: 0.9rem;
    color: #0a2b1e;
}
.course_title{
    line-height: 2rem;
}